In [ ]:
#Homework1:--------------------------------------------------------------------------------------------------------------------------------------------------

In [50]:


#Create a tuple literal named cardinal_numbers that holds the strings "first", "second", and "third", in that order. 
cardinal_numbers=["First","second","third","fourth","fifth","sixth","seventh","eighth","ninth"]
print("cardinal_numbers=",cardinal_numbers)

cardinal_numbers= ['First', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh', 'eighth', 'ninth']

In [51]:
#2. Using index notation and print(), display the string at index 1 in cardinal_numbers. 
print(f'cardinal number with the index "1" is "{cardinal_numbers[1]}".',)

cardinal number with the index "1" is "second".

In [52]:
#3. In a single line of code, unpack the values in cardinal_numbers into three new strings named position1, position2, and position3. Then print each value on a separate line. 
position1,position2,position3,=cardinal_numbers[:3:],cardinal_numbers[3:6:],cardinal_numbers[6::]
print("position1=",position1)
print("position2=",position2)
print("position3=",position3)

position1= ['First', 'second', 'third']
position2= ['fourth', 'fifth', 'sixth']
position3= ['seventh', 'eighth', 'ninth']

In [53]:
#4. Using tuple() and a string literal, create a tuple called my_name that contains the letters of your name. 
my_name=tuple("Munisbek")
print(my_name)

('M', 'u', 'n', 'i', 's', 'b', 'e', 'k')

In [54]:
#5. Check whether the character "x" is in my_name using the in keyword. 
is_x_in_my_name = 'x' in my_name
if is_x_in_my_name ==False:
    print(f'the character \'x\' is not in your name {my_name}')
else:
   print(f'the character \'x\' is  in your name {my_name}')

the character 'x' is not in your name ('M', 'u', 'n', 'i', 's', 'b', 'e', 'k')

In [55]:
#6. Create a new tuple containing all but the first letter in my_name using slice notation.
new_name=my_name[1::]
print(new_name)

('u', 'n', 'i', 's', 'b', 'e', 'k')

In [ ]:
##Homework2:---------------------------------------------------------------------------------------------------------------------------------------------------------------

In [57]:
#1.Create a list named food with two elements, "rice" and "beans".
food=["rice","beans"]
print(food)

['rice', 'beans']

In [58]:
#2.Append the string "broccoli" to food using .append().
food.append("broccoli")
print(food)

['rice', 'beans', 'broccoli']

In [59]:
#3.Add the strings "bread" and "pizza" to food using .extend().
food.extend(["bread","pizza"])
print(food)

['rice', 'beans', 'broccoli', 'bread', 'pizza']

In [60]:
#4.Print the first two items in the food list using print() and slice no tation.
print(food[:2:])

['rice', 'beans']

In [61]:
#5. Print the last item in food using print() and index notation.
print(food[-1])

pizza

In [62]:
#6.Create a list called breakfast from the string "eggs, fruit, orange juice" using the string .split() method. 
str="eggs, fruit, orange juice"
str=str.split(", ")
breakfast=str
print(breakfast)

['eggs', 'fruit', 'orange juice']

In [63]:
#7. Verify that breakfast has three items using len(). 
print(len(breakfast))

3

In [64]:
#8. Create a new list called lengths using a list comprehension that con tains the lengths of each string in the breakfast list
Lengths=[len(i) for i in breakfast]
print(Lengths)

[4, 5, 12]

In [65]:
#Homework 3:--------------------------------------------------------------------------------------------------------------------------------------------

In [67]:
#      1.Write a Python program to get the smallest number from a list.
list=[43,4,213,1,0,5]
smallest=min(list)
print(smallest)

0

In [72]:
#      2. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
#Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
#Expected Output : ['Green', 'White', 'Black']
given_list=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
print("given list ",given_list)
new_list=[given_list[i] for i in range(len(given_list)) if i  not in [0,4,5] ] 
print("new list ",new_list)

given list  ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
new list  ['Green', 'White', 'Black']

In [9]:
 #     3. Write a Python program to calculate the difference between the two lists
a,b=[1, 3, 5, 7, 9, 10,3,7], [2, 4, 6, 8,1,5,4,3]
set(a)
set(b)
c=[i for i in a if i not in b]
print(c)

[7, 9, 10, 7]

In [74]:
#      4. Write a Python program to find the index of an item in a specified list.
given_list=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
item = 'Green'
s=given_list.index(item)
print(s)

1

In [77]:
 #     5. Write a Python program to append a list to the second list.
list1=['apple','orange','fruit']
list2=[1,5,7,9]
#list2.append(list1)
list3=list2.extend(list1)
print(list2)

[1, 5, 7, 9, 'apple', 'orange', 'fruit']

In [83]:
  #    6. Write a Python program to find the second smallest number in a list.
list=[6,3,5,7,9,-4,8]
a=min(list)
list.remove(a)
secondsmallest=min(list)
print(secondsmallest)

-4
3

In [87]:
 #     7. Write a Python program to find common items in two lists.
list1=[43,4,213,1,0,5]
list2=[6,4,1,3,5,7,9,-4,8]
new_list=set(list1) & set(list2)
print(new_list)

[{1, 4, 5}]

In [2]:
 #     8. Write a Python program to split a list into different variables
list3=[1, 5,8]
a,b,c=list3
print(a,b,c)

1 5 8

In [4]:
 #     9. Write a Python program to select the odd items from a list
a=[1,2,3,4,5,6,7,8,9,10]
b=[i for i in a if int(i)%2==1]
print(b)

[1, 3, 5, 7, 9]

In [8]:
#     10. Write a Python program to replace the last element in a list with another list.
#Sample data : [1, 3, 5, 7, 9, 10], [2, 4, 6, 8]
#Expected Output: [1, 3, 5, 7, 9, 2, 4, 6, 8]
a,b=[1, 3, 5, 7, 9, 10], [2, 4, 6, 8]
a.pop()
a.extend(b)
print(a)

[1, 3, 5, 7, 9, 2, 4, 6, 8]